h1{
    text-align: center;
}

h3{
    margin:0;
    margin-top:1vw;
}

input{
    margin-top:0.1vw;
    height: 30px;
}

.head{
    margin-top: 1vw;
    margin-left: 5vw;
    display: flex;
}

.head-logo{
    display: flex;
    font-size:2.5vw;
}

.head-logo-text{
    margin-left: 5px;
    font-weight: 800;
    font-style: italic;
    font-family: Arial, sans-serif;
}

.head-login{
    margin-left:10vw;
    margin-top: 2vw;
}

.head-button{
    font-size: 30px;
    margin-left: 35px;
    text-align: center;
    background-color: blue;
    color:white;
}

.head-button:hover{
    background-color: rgb(63, 63, 211);
}

.navbar{
    display: flex;
    margin-left:5vw;
    margin-right: 5vw;
    margin-top: 2vw;
    background-color:rgb(89, 129, 234);
}

.navbar-button{
    font-size: 20px;
    text-align: center; 
    margin-right: 5px;
    border:0;
    padding:1vw;
    background-color: rgb(60, 104, 218);
    color:white;
    font-family: Courier New, monospace	;
}

.navbar-button:hover{
    background-color:rgb(132, 159, 228);
}


.authorization{
    position: fixed;
    display: block;
    top:0;
    left:0;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.authorization-logIn{
    position: fixed;
    min-width: 20vw;
    min-height: 28vw;
    border-radius: 20%;
    border: solid 1px;
    margin-left: 35vw;
    margin-top:13vw;
    background: linear-gradient(lightblue , rgb(175, 137, 255) 30vh) no-repeat;
    opacity: 100%;
}

.authorization-signIn{
    position: fixed;
    min-width: 20vw;
    min-height: 35vw;
    border-radius: 15%;
    border: solid 1px;
    margin-left: 35vw;
    margin-top:10vw;
    background: linear-gradient(lightblue , rgb(175, 137, 255) 30vh) no-repeat;
    opacity: 100%;
}

.authorization-logIn-form{
    display:grid;
    padding-left:2vw;
    padding-right:2vw;
}

.authorization-logIn-form-button{
    font-size: 20px;
    text-align: center; 
    margin-top:6vw;
    margin-right: 15px;
    margin-left: 15px;
    padding:1vw;
    background-color: blue;
    color:white;
    font-family: Courier New, monospace	;
}

.authorization-logIn-form-button:hover{
    background-color: rgb(60, 104, 218);;
}


.authorization-logIn-form-logIn_button{
    margin-top:10px;
    background: none;
    border:0;
    font-size: 1vw;
}

.authorization-logIn-form-logIn_button:hover{
    color:white;
}


.authorization-signIn-form-button{
    font-size: 20px;
    text-align: center; 
    margin-top:3vw;
    margin-right: 15px;
    margin-left: 15px;
    padding:1vw;
    background-color: blue;
    color:white;
    font-family: Courier New, monospace	;
}

.head-login-logo{
    display: inline-block;
    border-radius: 50%;
    margin-top:0.25vw;
    width: 3vw;
    height: 3vw;
}

.head-login-info{
    font-size: 1.5vw;
    display: inline-block;
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
    top: -1vw;
}


.menu{
    position: absolute;
    display: grid;
    min-width: 12vw;
    margin-left: 1.25vw;
    background-color:white;
    padding-left: 1vw;
    padding-right:2vw;
    padding-top: 1vw;  
    padding-bottom: 1vw;  

}

.menu-item{
    font-size: 1.75vw;
    color:black;
    margin-top:0.5vw;
}

.menu-item:hover{
    color:blue;
}

.exit{
    background-color: red;
}

.exit:hover{
    background-color: rgba(255, 0, 0, 0.5);
}