.head{
    margin-top: 1vw;
    margin-left: 5vw;
    display: flex;
}

.head-logo{
    display: flex;
    font-size:2.5vw;
}

.head-logo-text{
    margin-left: 5px;
    font-weight: 800;
    font-style: italic;
    font-family: Arial, sans-serif;
}

.head-buttons{
    margin-left:10vw;
    margin-top: 2vw;
}

.head-button{
    font-size: 30px;
    margin-left: 35px;
    text-align: center;
    background-color: blue;
    color:white;
}

.head-button:hover{
    background-color: rgb(63, 63, 211);
}

.navbar{
    display: flex;
    margin-left:5vw;
    margin-right: 5vw;
    margin-top: 2vw;
    background-color:rgb(89, 129, 234);
}

.navbar-button{
    font-size: 20px;
    text-align: center; 
    margin-right: 5px;
    border:0;
    padding:1vw;
    background-color: rgb(60, 104, 218);
    color:white;
    font-family: Courier New, monospace	;
}

.navbar-button:hover{
    background-color:rgb(132, 159, 228);
}


.logIn{
    position: fixed;
    display: block;
    top:0;
    left:0;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logIn-form{
    position: fixed;
    min-width: 20vw;
    min-height: 23vw;
    border-radius: 30%;
    border: solid;
    margin-left: 35vw;
    margin-top:20vw;
    background: linear-gradient(lightblue , rgb(175, 137, 255) 30vh) no-repeat;
    opacity: 100%;
}

