<div class="head">
    <a routerLink="/" class="head-logo">
        <img src="../../assets/logo.png" width="90" height="90">
        <p class="head-logo-text"> Теория игр<br>
            Сборник лекций и практический заданий
        </p>
    </a>
    <div class="head-buttons">
        <button (click)="logIn=true" type="button" class="head-button" >Log in</button>
        <button (click)="signIn=true" type="button" class="head-button" >Sign in</button>
    </div>
</div>
<div class="navbar"> 
    <a class="navbar-button" routerLink="/lectures" >Лекции</a>
    <a class="navbar-button" routerLink="/practices" >Практики</a>
    <a class="navbar-button" routerLink="/map" >Карта стайта</a>
</div>

<div class="authorization" *ngIf = "logIn || signIn">
    <div class="authorization-logIn" *ngIf = "logIn">
        <div class="authorization-logIn-form">
            <h1>Log In</h1>
            <h3>Электронная почта:</h3>
            <input type="text" placeholder="Логин">
            <h3>Пароль:</h3>
            <input type="password" placeholder="Электронная почта">
            <button type="button" class="authorization-logIn-form-button">Авторизация</button>
            <button (click)="logIn=false; signIn=true" type="button" class="authorization-logIn-form-logIn_button" >Зарегистрироваться</button>
        </div>
    </div>
    <div class="authorization-signIn" *ngIf = "signIn">
        <div class="authorization-logIn-form">
            <h1>Sign In</h1>
            <h3>Электронная почта:</h3>
            <input type="text" placeholder="Электронная почта">
            <h3>Фамилия:</h3>
            <input type="text" placeholder="Фамилия">
            <h3>Имя:</h3>
            <input type="text" placeholder="Имя">
            <h3>Пароль:</h3>
            <input type="password" placeholder="Пароль">
            <h3>Повтор пароля:</h3>
            <input type="password" placeholder="Повтор пароля">
            <button type="button" class="authorization-signIn-form-button">Регистрация</button>
            <button (click)="logIn=true; signIn=false" type="button" class="authorization-logIn-form-logIn_button" >Уже есть аккаунт</button>
        </div>
    </div>
</div>