select{
    font-size:2vw;
}

input{
    font-size:2vw;
}

.title{
    margin-top:2vw;
    text-align : center;
}

.content{
    margin: 3vw;
    padding: 1vw;
    border: 1px solid black
}

.context-text{
    font-size: 2vw;
    margin-top:1vw;
    margin-bottom:1vw;
}

.add{
    display: flex;
    font-size: 1.5vw;
    text-align: center; 
    margin-left:25vw;
    margin-top: 2vw;
    padding:1vw;
    background-color: rgb(238, 101, 101);
}

.add:hover{
    background-color: rgba(238, 101, 101,0.5);
}

.error{
    color:red;
    font-size:2vw;
}