.title{
    margin-top:2vw;
    text-align : center;
}

.text{
    margin: 3vw;
    font-size: 1.5vw;
}

.toTest{
    font-size: 20px;
    text-align: center; 
    margin-left:40%;
    margin-bottom:7vw;
    padding:1vw;
    background-color: rgb(238, 201, 201);
    font-family: Courier New, monospace	;
}

.toTest:hover{
    background-color: rgb(252, 225, 225);
}